# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Node modules
node_modules/

# Build output
dist/
dist-ssr/

# Environment files
.env
*.local

# Firebase cache/logs
firebase-debug.log

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional test coverage
coverage/
